@import './assets/fonts/fonts.css';

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #dedede;
}

*::-webkit-scrollbar-thumb {
  background-color: #9f9d9f;
  border-radius: 10px;
  border: 0px solid #b54040;
}

* a {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #F5F5F5;
  height: 100vh;
}

a {
  display: inline-flex;
}

#root {
  height: 100%;
}
