.root {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  text-align: center;
  flex-direction: column;
}

.infoMessage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.infoMessage a {
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  padding: 6px 12px;
  background: dodgerblue;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 600px) {
  .root {
    font-size: 20px;
    padding: 10px;
  }
}
